@import "tailwindcss";


/*  */
/* basic theming */

/*
 :root {
  --primaryText: rgb(17, 17, 17);
  --primaryBackground: rgb(255, 255, 255);
  --error: rgb(211, 47, 47);
} 
 [data-theme="dark"] {
  --primaryText: rgb(187, 187,187);
  --primaryBackground: rgb(17, 17, 17);
  --error: rgb(244, 67, 54);
}

@theme {
  --color-primaryText: var(--primaryText);
  --color-primaryBackground: var(--primaryBackground);
  --color-error: var(--error);
} */
/*  */
